<div id="carbonads-container" style="float:right; margin-left:20px;"><div class="carbonad"><div id="azcarbon"></div></div></div>
<script type="text/javascript">
  var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/51496/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);
</script>
<div>
    <h1>Plugins</h1>
</div>

<div class="info">
    <p class="preamble" style="margin-bottom:10px;">
        Do you want a <strong title="Web site examples are tested and works in latest Chrome, Safari, Opera, Firefox, IE6-IE9">3 KB cross-browser native JavaScript</strong> that makes your
        plain HTML lists/tables super flexible, searchable, sortable and filterable? <strong>Yeah!</strong><br />
        Do you also want the possibility to add, edit and remove items by dead simple templating?
        <strong>Hell yeah!</strong>
    </p>
</div>
