<div>
    <h1>Plugins</h1>
</div>

<div class="info">
    <p class="preamble" style="margin-bottom:10px;">
        Do you want a <strong title="Web site examples are tested and works in latest Chrome, Safari, Opera, Firefox, IE6-IE9">3 KB cross-browser native JavaScript</strong> that makes your
        plain HTML lists/tables super flexible, searchable, sortable and filterable? <strong>Yeah!</strong><br />
        Do you also want the possibility to add, edit and remove items by dead simple templating?
        <strong>Hell yeah!</strong>
    </p>
</div>