<div class="changelog">
    <div id="carbonads-container" style="float:right; margin-left:20px;"><div class="carbonad"><div id="azcarbon"></div></div></div>
    <script type="text/javascript">
      var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/51496/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);
    </script>
    <div>
        <h1>Changelog</h1>
    </div>

    <% /*
    <h3>2012</h3>
    <ul>
        <li><b>[Feature]</b> Add more events and enable to add them on initialization.</li>
        <li><b>[Feature]</b> Add support for Component.js, RequireJS and CommonJS</li>
        <li><b>[Improvement]</b> Paging plugin default classes and structure now correspons to <a href="http://twitter.github.com/bootstrap/components.html#pagination">Twitter Bootstraps pagination</a>.</li>
        <li><b>[Improvement]</b> Make sorting case-insensitive (thanks @thomasklemm)</li>
        <li><b>[Bugfix]</b> <code>.add(items, callbak)</code> with <code>callback</code> set does no longer add an extra item.</li>
        <li><b>[Bugfix]</b> <code>templater.set()</code> no longer is called twice in a <code>templater.get()</code> call.</li>
        <li><b>[Bugfix]</b> Fix error when trying to sort <code>undefined</code> values.</li>
        <li><b>[Bugfix]</b> Fix issue #51, problems with filters/search + paging.</li>
        <li><b>[Misc]</b> Moved the website into another repo called <a href="https://github.com/javve/list-website">list-website</a></li>
    </ul>
    */ %>
    <h3>2012-04-24 Beta 0.2.1</h3>
    <ul>
        <li>Fuzzy Search plugin, <code>.filter()</code> changes and bug fixes </b><a href="http://jonnystromberg.com/listjs-0-2-1-release-notes/">Read more »</a></b></li>
    </ul>
    <h3>2012-01-23 Beta 0.2.0</h3>
    <ul>
        <li>Lots of updates and interesting features. <b><a href="http://jonnystromberg.com/listjs-0-2-0-plugins-paging/">Read more »</a></b></li>
    </ul>
    <h3>2011-12-15 Beta 0.1.4</h3>
    <ul>
        <li><code>.filters()</code>, <code>.sort()</code> and <code>.search()</code> now deped on each other. If the list is filtered and then there is a search, the items hidden by the filters will stay hidden etc.</li>
        <li><code>.filter()</code> is the only way to reset filter. <code>.filter(false)</code> does not work anymore.</li>
    </ul>
    <h3>2011-11-29 Beta 0.1.3 release</h3>
    <ul>
        <li>Added function <code>.clear()</code> that removes all items from the list</li>
        <li>Changed the sort function to be based on <code>data-sort</code> instead of <code>rel</code></li>
        <li>When sorting one category, all sort-related classes will be removed from the other sort buttons</li>
        <li>Updated <code>.sort(valueName, sortFunction)</code> to <code>.sort(valueName, options)</code>, se more info in the documentation</li>
    </ul>
    <h3>2011-11-16 Beta 0.1.2 release</h3>
    <ul>
        <li>Sorting is now indicated by class <code>asc</code> or <code>desc</code> at sorting buttons</li>
        <li>Added three new small helper functions <code>hasClass(element, class)</code>, <code>addClass(element, class)</code>
    and <code>removeClass(element, class)</code></li>
    </ul>
    <h3>2011-10-20 Beta 0.1.1 release</h3>
    <ul>
        <li>Added possibility to reverse sort the list</li>
    </ul>
    <h3>2011-10-18 Beta 0.1 release</h3>
    <ul>
        <li>Examples at Listjs.com works in IE7,8,9 (IE6 is not tested, should work)</li>
        <li>More documentation</li>
        <li>Misc bug fixes</li>
    </ul>
    <h3>2011-10-15 Final alpha 0.3 release</h3>
    <ul>
        <li>More documentation</li>
        <li>Only show 200 items at same time, huge speed increase</li>
        <li>Misc bug fixes</li>
    </ul>
    <h3>2011-08-08 Alpha 0.2 release</h3>
    <ul>
        <li>Added asynchronous item adding</li>
        <li>Added asynchronous list indexing</li>
        <li>Improved (but incomplete) documentation</li>
        <li>Bugfixes and improved helper functions</li>
        <li>Show helper functions non-minified</li>
    </ul>
    <h3>2011-07-25 Alpha 0.1 release</h3>
</div>
