<div class="intro row">
    <div class="intro-logo col-sm-4">
        <img src="/images/graphics/listjs-logo.png" />
    </div>
    <div class="intro-text  col-sm-8">
        <h1>List.js</h1>
        <h2>Tiny, yet powerful and incredibly fast vanilla Javascript that adds search, sort and flexibility to plain HTML lists or tables.</h2>
        <a href="https://raw.github.com/javve/list/master/list.min.js" class="btn btn-primary" onclick="javascript: _gaq.push(['_trackPageview', '/download/list.min.js.button']);">
            Download
        </a>
        <a href="/examples" class="btn" onclick="javascript: _gaq.push(['_trackEvent', 'Startpage', 'examples', 'examples']);">
            Examples
        </a>
        <a href="/docs" class="btn" onclick="javascript: _gaq.push(['_trackEvent', 'Startpage', 'examples', 'examples']);">
            Docs
        </a>
    </div>
</div>

<div class="row misc">
    <div class="col-sm-8">
        <h3>Share and follow</h3>
    	<div class="misc-share">
            <iframe src="http://ghbtns.com/github-btn.html?user=javve&repo=list.js&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=javve&repo=list.js&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=javve&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
            <a href="https://twitter.com/javve" class="twitter-follow-button" data-show-count="false">Follow @javve</a>
            <div class="fb-like" data-href="http://listjs.com" data-width="80" data-height="20" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
    	</div>

        <h3>I’m building and improving List.js in my free time.</h3>
    </div>

    <div class="col-sm-4">
        <div id="carbonads-container">
            <div class="carbonad">
                <div id="azcarbon"></div>
                <script type="text/javascript">
                    var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/51496/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);
                </script>
            </div>
        </div>
    </div>
</div>

    <div class="c1">
    	<h2 class="look"><strong>Look here!</strong> This is an example of what List.js can do</h2>

        <div id="example-list">
            <input class="search" placeholder="Search features" />
            <span class="sort btn" data-sort="feature">Sort features</span>
            <ul class="list">
                <li>
                    <strong class="feature">Search</strong>
                    <small class="description">Search through all items.</small>
                </li>
                <li>
                    <strong class="feature">Sort</strong>
                    <small class="description">Sort lists by value that you choose.</small>
                </li>
                <li>
                    <strong class="feature">Filter</strong>
                    <small class="description">Write your own filter functions.</small>
                </li>
            </ul>
        </div>
    </div>


    <div class="c1">
        <h2>Add List.js-functionality to existing list</h2>
        <div class="code">

        <h3>HTML</h3>
<pre><code>
&lt;div id="example-list">
    &lt;input class="search" />
    &lt;span class="sort" data-sort="feature">Sort features&lt;/span>
    &lt;ul class="list">
       &lt;li>
           &lt;span class="feature">Search&lt;/span>
           &lt;small class="description">Search through all items.&lt;/small>
       &lt;/li>
       &lt;li>
           &lt;span class="feature">Sort&lt;/span>
           &lt;small class="description">Sort lists by value that
               you choose.&lt;/small>
       &lt;/li>
       &lt;li>
           &lt;span class="feature">Filter&lt;/span>
           &lt;small class="description">
                Write your own filter functions.
            &lt;/small>
       &lt;/li>
       &lt;li>
           &lt;span class="feature">Add&lt;/span>
           &lt;small class="description">Add items on the fly.&lt;/small>
       &lt;/li>
       &lt;li>
           &lt;span class="feature">Get&lt;/span>
           &lt;small class="description">Get item based on value.&lt;/small>
       &lt;/li>
       &lt;li>
           &lt;span class="feature">Update&lt;/span>
           &lt;small class="description">Update items as you go.&lt;/small>
       &lt;/li>
       &lt;li>
           &lt;span class="feature">Remove&lt;/span>
           &lt;small class="description">
                Remove items whenever you feel like.
            &lt;/small>
       &lt;/li>
    &lt;/ul>
&lt;/div>
</code></pre>

                <h3>JavaScript</h3>
<pre><code>
var options = {
    valueNames: [ 'feature', 'description' ]
};

var featureList = new List('example-list', options);
</code></pre>
        </div>
    </div>
</div>


<div class="c1">

    <h2>Add List.js to list, and then add new items</h2>

    <div class="code">

    <h3>HTML</h3>
<pre><code>
&lt;div id="example-list">
    &lt;input class="search" />
    &lt;span class="sort" data-sort="feature">Sort features&lt;/span>
    &lt;ul class="list">
       &lt;li>
           &lt;span class="feature">Search&lt;/span>
           &lt;small class="description">Search through all items.&lt;/small>
       &lt;/li>
       &lt;li>
           &lt;span class="feature">Sort&lt;/span>
           &lt;small class="description">Sort lists by value that
               you choose.&lt;/small>
       &lt;/li>
       &lt;li>
           &lt;span class="feature">Filter&lt;/span>
           &lt;small class="description">Write your own filter functions.&lt;/small>
       &lt;/li>
    &lt;/ul>
&lt;/div>
</code></pre>

            <h3>JavaScript</h3>
<pre><code>
var options = {
    valueNames: [ 'feature', 'description' ]
};

var values = [
    { feature: 'Add', description:'Add items on the fly.' }
    , { feature: 'Get', description:'Get item based on value.' }
    , { feature: 'Update', description:'Update items as you go.' }
];

var featureList = new List('example-list', options, values);

var newFeature = {
    feature: 'Remove'
    , description:'Remove items whenever you feel like.'
};

featureList.add(newFeature);
</code></pre>
            </div>
        </div>
    </div>
</div>


<!-- Start of List.js stuff -->
<script type="text/javascript" type="text/javascript">
    var values = [
    	{ feature: 'Add', description:'Add items on the fly.' }
    	, { feature: 'Get', description:'Get item based on value.' }
    	, { feature: 'Update', description:'Update items as you go.' }
    ];
    var options = {
    	valueNames: [ 'feature', 'description' ]
    };

    var featureList = new List('example-list', options, values);
    featureList.add({ feature: 'Remove', description:'Remove items whenever you feel like.' });
</script>
<!-- End of List.js stuff -->



<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=javve"></script>
<script type="text/javascript" src="js/libs/hijs.js"></script>