<div class="intro row">
  <div class="intro-logo col-sm-4">
    <img src="/images/graphics/listjs-logo.png" />
  </div>
  <div class="intro-text  col-sm-8">
    <h1>List.js</h1>
    <h2>Tiny, invisble and simple, yet powerful and incredibly fast vanilla Javascript that adds search, sort and flexibility to plain HTML lists or tables.</h2>
    <a href="/docs" class="btn btn-primary" onclick="javascript:  _gaq.push(['_trackEvent', 'Startpage', 'downlad']);">
      Download
    </a>
    <a href="/overview" class="btn" onclick="javascript: _gaq.push(['_trackEvent', 'Startpage', 'overview']);">
      Overview
    </a>
    <a href="/docs" class="btn" onclick="javascript: _gaq.push(['_trackEvent', 'Startpage', 'documentation']);">
      Docs
    </a>
    <a href="/examples" class="btn" onclick="javascript: _gaq.push(['_trackEvent', 'Startpage', 'examples']);">
      Examples
    </a>
  </div>
</div>

<div class="misc">
  <div class="misc-carbon">
    <%- include shared/carbon.ejs %>
  </div>

  <div class="misc-author">
    <img src="/images/graphics/javve.jpg" id="javve-pic" />
    <h4>Hi! I'm Jonny and the author of List.js.</h4>
    <p>
      I hope you like the lib. I’ve put a lot of hours into it!
      Feel free to follow me on Twitter and Github for news and donate a beer for good karma ;)
    </p>
    <iframe src="http://ghbtns.com/github-btn.html?user=javve&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
    <a href="https://twitter.com/javve" class="twitter-follow-button" data-show-count="false">Follow @javve</a>
    <a class="donate" href="#" onmouseover="$('#javve-pic').attr('src', '/images/graphics/javve-beer.jpg');" onmouseout="$('#javve-pic').attr('src', '/images/graphics/javve.jpg');">Donate a beer</a>
  </div>
</div>

<div class="startpage-quotes">
  <div class="row">
    <div class="col-sm-4">
      <blockquote class="twitter-tweet"><p>List.js: native JavaScript that makes your plain HTML lists super flexible, searchable, sortable and filterable - <a href="http://t.co/nOoE1RJg">http://t.co/nOoE1RJg</a></p>&mdash; Smashing Magazine (@smashingmag) <a href="https://twitter.com/smashingmag/statuses/148142949287477248">December 17, 2011</a></blockquote>
    </div>
    <div class="col-sm-4">
      <blockquote class="twitter-tweet"><p>ABSOLUTELY FUCKING BRILLIANT &gt; <a href="http://t.co/wuOiYlRe">http://t.co/wuOiYlRe</a></p>&mdash; Zeus Lalkaka (@distracteddev) <a href="https://twitter.com/distracteddev/statuses/181365908768436224">March 18, 2012</a></blockquote>
    </div>
    <div class="col-sm-4">
      <blockquote class="twitter-tweet"><p>List.js: Add Search, Sort and Flexibility to HTML Lists or Tables - <a href="http://t.co/ygEp2Tk7Pu">http://t.co/ygEp2Tk7Pu</a> (“Native” JavaScript, no dependencies.)</p>&mdash; JavaScript Daily (@JavaScriptDaily) <a href="https://twitter.com/JavaScriptDaily/statuses/335832684137943040">May 18, 2013</a></blockquote>
    </div>
  </div>
</div>

<div id="startpage-example">
<%- include examples/annotated-example.ejs %>
</div>

<script>
$(window).load(function() { console.log('loaded'); $('body').addClass('loaded'); });
</script>
