<div class="intro row">
  <div class="intro-logo col-sm-5">
    <img src="/images/graphics/listjs-logo.png" />
  </div>
  <div class="intro-text  col-sm-7">
    <h1>List.js</h1>
    <h2>Tiny, yet powerful and incredibly fast vanilla Javascript that adds search, sort and flexibility to plain HTML lists or tables. <a href="/docs">Learn more</a></h2>
    <a href="https://raw.github.com/javve/list/master/list.min.js" class="btn btn-primary" onclick="javascript: _gaq.push(['_trackPageview', '/download/list.min.js.button']);">
      Download
    </a>
    <a href="/examples" class="btn" onclick="javascript: _gaq.push(['_trackEvent', 'Startpage', 'examples', 'examples']);">
      Examples
    </a>
    <a href="/docs" class="btn" onclick="javascript: _gaq.push(['_trackEvent', 'Startpage', 'examples', 'examples']);">
      Docs
    </a>
  </div>
</div>

<div class="misc">
  <div class="row">

    <div class="col-sm-5 misc-carbon">
      <%- include shared/carbon.ejs %>
    </div>

    <div class="col-sm-7">
      <div class="misc-author">
        <img src="/images/graphics/javve.png" />
        <h4>Hi! I'm Jonny and I've written List.js.</h4>
        <p>I hope you like the script. I’ve put a lot of hours into it! I spend three days a week with non-profit projects like StartupLocation, List.js and.</p>
        <p><b><a href="#">Donate a beer</a></b></p>
        <iframe src="http://ghbtns.com/github-btn.html?user=javve&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
        <a href="https://twitter.com/javve" class="twitter-follow-button" data-show-count="false">Follow @javve</a>
      </div>
    </div>

  </div>
</div>
<div id="startpage-example">
<%- include examples/annotated-example.ejs %>
</div>
<script>
  var show = function() {
    $('#startpage-example').addClass('startpage-focus');
    $(window).off('scoll', show);
  };
  $(window).on('scroll', show);
</script>
