<div class="docs-menu">
  <h4>General</h4>
  <ul>
    <li><a <% if (url == "/overview")  { %>class="active"<% } %> href="/overview">TLDR / Features</a></li>
    <li><a <% if (url == "/overview/changelog")  { %>class="active"<% } %> href="/overview/changelog">Changelog</a></li>
    <li><a href="https://github.com/javve/list.js">Github</a></li>
  </ul>
</div>
