<%- include menu.ejs %>

<p data-height="700" data-theme-id="2168" data-slug-hash="<%- example.slug %>" data-user="javve" data-default-tab="result" class='codepen'>
  See the Pen <a href='<%- example.url %>'>zpuKF</a> by Jonny Strömberg (<a href='http://codepen.io/javve'>@javve</a>) on <a href='http://codepen.io'>CodePen</a>
</p>
<script async src="//codepen.io/assets/embed/ei.js"></script>

