<%- include menu.ejs %>

</div>
<p data-height="668" data-theme-id="2168" data-slug-hash="<%= example.penId %>" data-user="javve" data-default-tab="result" class='codepen'>See <a href='http://codepen.io/javve/pen/<%= example.penId %>'><%= example.title %></a></p>
<script async src="//codepen.io/assets/embed/ei.js"></script>

<div>