<%- include menu.ejs %>

</div>

<div id="jsbin-container">
<a class="jsbin-embed" href="<%= example.url %>">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>
</div>

<script>
  $('body').css({
    overflow:'hidden',
    'padding-bottom': 0
  });
  function fixEmbedHeight() {
    $('#jsbin-container').find('iframe').css("max-height", ($(window).height() - $('#jsbin-container').offset().top - 45));
    $('#jsbin-container').find('iframe').css("min-height", ($(window).height() - $('#jsbin-container').offset().top - 45));
    setTimeout(fixEmbedHeight, 500);
  }

  function ensureEmbedHeight() {
    setTimeout(function() {
      if ($('#jsbin-container').find('iframe').size() > 0) {
        fixEmbedHeight();
      } else {
        ensureEmbedHeight();
      }
    }, 100);
  }

  $(window).load(ensureEmbedHeight);
</script>
<div>
