<h3>Sections</h3>
<ul>
    <li><a href="/docs/getting-started">Getting started</a></li>
    <li><a href="/docs/options">Options</a></li>
    <li><a href="/docs/options">Methods</a></li>
</ul>
<h3>Plugins</h3>
<ul>
    <li><a href="/docs/getting-started">Getting started</a></li>
    <li><a href="/docs/options">Options</a></li>
    <li><a href="/docs/options">Methods</a></li>
</ul>

<h3>Examples</h3>
<ul>
    <li><a href="/examples">Basic list</a></li>
    <% for (var i in examples) { %>
    <li><a href="/examples/<%= i %>"><%= examples[i].name %></a></li>
    <% } %>
</ul>