<h3>
    <a name="parameters" class="anchor" href="#parameters"><span class="octicon octicon-link"></span></a>
    Parameters
</h3>

<ul>
<li>
    <strong>id</strong> or <strong>element</strong> <em>(*required)</em>
    Id the element in which the list area should be initialized. OR the actual element itself.
</li>
<li>
<p><strong>options</strong>
Some of the option parameters are required at some times</p>

<ul>
<li>
<p><strong>valueNames</strong> <em>(Array, default: null) (*only required if the list already contains items before initialization)</em><br>
If the list contains items on initialization, then this array
has to contain the value names (class names) for the different values of
each list item.</p>

<pre><code>&lt;ul class="list"&gt;
    &lt;li&gt;
        &lt;span class="name"&gt;Jonny&lt;/span&gt;
        &lt;span class="city"&gt;Sundsvall&lt;/span&gt;
    &lt;/li&gt;
&lt;/ul&gt;

var valueNames = ['name', 'city'];
</code></pre>
</li>
<li>
<p><strong>item</strong> <em>(String, default: undefined)</em><br>
ID to item template element or a string of HTML (**notice**: does not work with <code>&lt;tr&gt;</code>)</p>

<pre><code>var options = {
    item: "&lt;li&gt;&lt;span class='name'&gt;&lt;/span&gt;&lt;span class='city'&gt;&lt;/span&gt;&lt;/li&gt;"
}
</code></pre>
</li>
<li><p><strong>listClass</strong> <em>(String, default: "list")</em><br>
What is the class of the list-container?</p></li>
<li><p><strong>searchClass</strong> <em>(String, default: "search")</em><br>
What is the class of the search field?</p></li>
<li><p><strong>sortClass</strong> <em>(String, default: "sort")</em><br>
What is the class of the sort buttons?</p></li>
<li><p><strong>indexAsync</strong> <em>(Boolean, default: false)</em><br>
If there are already items in the list to which the
List.js-script is added, then should the indexing be done
in a asynchronous way? Good for large lists (&gt; 500 items).</p></li>
<li><p><strong>page</strong> <em>(Int, default: 200)</em> (maxVisibleItemsCount previously)<br>
Defines how many items that should be visible at the same time. This affects
performance.</p></li>
<li><p><strong>i</strong>  <em>(Int, default: 1)</em><br>
Which item should be shown as the first one.</p></li>
<li><p><strong>plugins</strong> <em>(Array, default: undefined)</em><br><a href="http://jonnystromberg.com/listjs-plugins-guide/">Read more about plugins here</a></p></li>
</ul>
</li>
<li><p><strong>values</strong> <em>(Array of objects) (*optional)</em>
Values to add to the list on initialization.</p></li>
</ul>